.c-siteLogo{
  @include fontInformation($size:32px, $weight:bold,$lineHeight:1, $color:rgba(255,255,255,0.8))
  @include txtShadow(3px, 3px, 5px, $r:255, $g:255, $b:255, $a:0.3)
  cursor:pointer;
}
.c-siteLogo:hover{
  @include fontInformation($size:34px, $weight:bold,$lineHeight:1, $color:rgba(255,255,255,0.8))
  @include txtShadow(3px, 3px, 5px, $r:255, $g:255, $b:255, $a:0.8)
  transition:all 400ms;
}

.c-siteLogo.js-colorNaivy{
  @include fontInformation($size:34px, $weight:bold,$lineHeight:1, $color:rgba(255,255,255,0.8))
  transition:all 400ms;
}
