@mixin bgImage($img){
      background-image: url("img/"+$img+".png");
      background-size: cover;
}
@mixin position($t, $r, $b, $l){
      position: absolute;
      top:$t;
      right: $r;
      bottom:$b;
      left: $l;
}
@mixin size($w, $h){
  width: $w;
  height:$h;
}

@function getHeight($w) {
    @return ((229/408)*$w);
}
@mixin siteImageSize($w){
  width:$w;
  height:getHeight($w);
}


@mixin fontInformation($family:didot, $size:32px, $weight:normal, $style:normal, $letterSpacing:0.1em, $lineHeight:2, $color:rgba(0,0,0,0.8),$bgColor:transparent){
  font-family: "#{$family}";
  font-size: $size;
  font-weight: $weight;
  font-style:$style;
  letter-spacing: $letterSpacing;
  line-height: $lineHeight;
  color:$color;
  background-color: $bgColor;
}
@mixin subHeadingInformation($subHeading){
  content:"#{$subHeading}";
  @include fontInformation($size:12px, $style:italic, $color:$naivy);
  position: absolute;
  top:48px;
  left: 36px;
}

@mixin txtShadow($x:3px, $y:3px, $blur:5px, $r:0, $g:0, $b:0, $a:0.2){
  text-shadow: rgba($r,$g,$b,$a) $x $y $blur;
}
@mixin boxShadow($x:0, $y:0, $blur:10px, $r:0, $g:0, $b:0, $a:0.2){
  box-shadow:  $x $y $blur rgba($r,$g,$b,$a);
}

//display
@mixin displayMax(){
  .u-dp--ib{
    display: inline-block;
  }
  .u-dp--tc{
    display: table-cell;
  }
  .u-dp--n{
    display: none;
  }
}
@mixin display($bp){
  .u-#{$bp}-dp--ib{
    display: inline-block;
  }
  .u-#{$bp}-dp--tc{
    display: table-cell;
  }
  .u-#{$bp}-dp--n{
    display: none;
  }
}
//align
@mixin alignMax(){
  .u-va--m{
    vertical-align: middle;
  }
  .u-ta--c{
    text-align: center;
  }
  .u-ta--l{
    text-align: left;
  }
  .u-ta--r{
    text-align: right;
  }
}
@mixin align($bp){
  .u-#{$bp}-va--m{
    vertical-align: middle;
  }
  .u-#{$bp}-ta--c{
    text-align: center;
  }
  .u-#{$bp}-ta--l{
    text-align: left;
  }
  .u-#{$bp}-ta--r{
    text-align: right;
  }
}
@mixin zIndex($bp){
  @for $i from 1 to 101{
    .u-#{$bp}-zIndex--#{$i}{
      zindex: #{$i};
    }
  }
}
@mixin zIndexMax(){
  @for $i from 0 to 101{
    .u-zIndex--#{$i}{
      z-index: #{$i};
    }
}
}
