@mixin paddingAndMargin($bp){
  // margin, padding
  @for $i from 1 to 101{
    //margin
    .u-#{$bp}-mb--#{$i}{
      margin-bottom: #{$i}px;
    }
    .u-#{$bp}-mt--#{$i}{
      margin-top: #{$i}px;
    }
    .u-#{$bp}-mr--#{$i}{
      margin-right: #{$i}px;
    }
    .u-#{$bp}-ml--#{$i}{
      margin-left: #{$i}px;
    }
    .u-#{$bp}-mtb--#{$i}{
      margin-top: #{$i}px;
      margin-bottom: #{$i}px;
    }
    .u-#{$bp}-mrl--#{$i}{
      margin-right: #{$i}px;
      margin-left: #{$i}px;
    }

    //padding
    .u-#{$bp}-pb--#{$i}{
      padding-bottom: #{$i}px;
    }
    .u-#{$bp}-pt--#{$i}{
      padding-top: #{$i}px;
    }
    .u-#{$bp}-pr--#{$i}{
      padding-right: #{$i}px;
    }
    .u-#{$bp}-pl--#{$i}{
      padding-left: #{$i}px;
    }
    .u-#{$bp}-ptb--#{$i}{
      padding-top: #{$i}px;
      padding-bottom: #{$i}px;
    }
    .u-#{$bp}-prl--#{$i}{
      padding-right: #{$i}px;
      padding-left: #{$i}px;
    }

    .u-#{$bp}-mb--#{$i}vh{
      margin-bottom: #{$i}vh;
    }
    .u-#{$bp}-mt--#{$i}vh{
      margin-top: #{$i}vh;
    }
    .u-#{$bp}-mr--#{$i}vw{
      margin-right: #{$i}vw;
    }
    .u-#{$bp}-ml--#{$i}vw{
      margin-left: #{$i}vw;
    }
    .u-#{$bp}-mtb--#{$i}vh{
      margin-top: #{$i}vh;
      margin-bottom: #{$i}vh;
    }
    .u-#{$bp}-mrl--#{$i}vw{
      margin-right: #{$i}vw;
      margin-left: #{$i}vw;
    }

    //padding
    .u-#{$bp}-pb--#{$i}vh{
      padding-bottom: #{$i}vh;
    }
    .u-#{$bp}-pt--#{$i}vh{
      padding-top: #{$i}vh;
    }
    .u-#{$bp}-pr--#{$i}vw{
      padding-right: #{$i}vw;
    }
    .u-#{$bp}-pl--#{$i}vw{
      padding-left: #{$i}vw;
    }
    .u-#{$bp}-ptb--#{$i}vh{
      padding-top: #{$i}vh;
      padding-bottom: #{$i}vh;
    }
    .u-#{$bp}-prl--#{$i}vw{
      padding-right: #{$i}vw;
      padding-left: #{$i}vw;
    }

  }

  // margin, padding
  @for $i from 1 to 101{
    //margin
    .u-#{$bp}-mb--#{$i}percent{
      margin-bottom: unquote("#{$i}%");
    }
    .u-#{$bp}-mt--#{$i}percent{
      margin-top: unquote("#{$i}%");
    }
    .u-#{$bp}-mr--#{$i}percent{
      margin-right: unquote("#{$i}%");
    }
    .u-#{$bp}-ml--#{$i}percent{
      margin-left: unquote("#{$i}%");
    }
    .u-#{$bp}-mtb--#{$i}percent{
      margin-top: unquote("#{$i}%");
      margin-bottom: unquote("#{$i}%");
    }
    .u-#{$bp}-mrl--#{$i}percent{
      margin-right: unquote("#{$i}%");
      margin-left: unquote("#{$i}%");
    }

    //padding
    .u-#{$bp}-pb--#{$i}percent{
      padding-bottom: unquote("#{$i}%");
    }
    .u-#{$bp}-pt--#{$i}percent{
      padding-top: unquote("#{$i}%");
    }
    .u-#{$bp}-pr--#{$i}percent{
      padding-right: unquote("#{$i}%");
    }
    .u-#{$bp}-pl--#{$i}percent{
      padding-left: unquote("#{$i}%");
    }
    .u-#{$bp}-ptb--#{$i}percent{
      padding-top: unquote("#{$i}%");
      padding-bottom: unquote("#{$i}%");
    }
    .u-#{$bp}-prl--#{$i}percent{
      padding-right: unquote("#{$i}%");
      padding-left: unquote("#{$i}%");
    }
  }
}


@mixin paddingAndMarginMax(){
  // margin, padding
  @for $i from 0 to 101{
    //margin
    .u-mb--#{$i}{
      margin-bottom: #{$i}px;
    }
    .u-mt--#{$i}{
      margin-top: #{$i}px;
    }
    .u-mr--#{$i}{
      margin-right: #{$i}px;
    }
    .u-ml--#{$i}{
      margin-left: #{$i}px;
    }
    .u-mtb--#{$i}{
      margin-top: #{$i}px;
      margin-bottom: #{$i}px;
    }
    .u-mrl--#{$i}{
      margin-right: #{$i}px;
      margin-left: #{$i}px;
    }

    //padding
    .u-pb--#{$i}{
      padding-bottom: #{$i}px;
    }
    .u-pt--#{$i}{
      padding-top: #{$i}px;
    }
    .u-pr--#{$i}{
      padding-right: #{$i}px;
    }
    .u-pl--#{$i}{
      padding-left: #{$i}px;
    }
    .u-ptb--#{$i}{
      padding-top: #{$i}px;
      padding-bottom: #{$i}px;
    }
    .u-prl--#{$i}{
      padding-right: #{$i}px;
      padding-left: #{$i}px;
    }

    .u-mb--#{$i}vh{
      margin-bottom: #{$i}vh;
    }
    .u-mt--#{$i}vh{
      margin-top: #{$i}vh;
    }
    .u-mr--#{$i}vw{
      margin-right: #{$i}vw;
    }
    .u-ml--#{$i}vw{
      margin-left: #{$i}vw;
    }
    .u-mtb--#{$i}vh{
      margin-top: #{$i}vh;
      margin-bottom: #{$i}vh;
    }
    .u-mrl--#{$i}vw{
      margin-right: #{$i}vw;
      margin-left: #{$i}vw;
    }

    //padding
    .u-pb--#{$i}vh{
      padding-bottom: #{$i}vh;
    }
    .u-pt--#{$i}vh{
      padding-top: #{$i}vh;
    }
    .u-pr--#{$i}vw{
      padding-right: #{$i}vw;
    }
    .u-pl--#{$i}vw{
      padding-left: #{$i}vw;
    }
    .u-ptb--#{$i}vh{
      padding-top: #{$i}vh;
      padding-bottom: #{$i}vh;
    }
    .u-prl--#{$i}vw{
      padding-right: #{$i}vw;
      padding-left: #{$i}vw;
    }

  }

  // margin, padding
  @for $i from 0 to 101{
    //margin
    .u-mb--#{$i}percent{
      margin-bottom: unquote("#{$i}%");
    }
    .u-mt--#{$i}percent{
      margin-top: unquote("#{$i}%");
    }
    .u-mr--#{$i}percent{
      margin-right: unquote("#{$i}%");
    }
    .u-ml--#{$i}percent{
      margin-left: unquote("#{$i}%");
    }
    .u-mtb--#{$i}percent{
      margin-top: unquote("#{$i}%");
      margin-bottom: unquote("#{$i}%");
    }
    .u-mrl--#{$i}percent{
      margin-right: unquote("#{$i}%");
      margin-left: unquote("#{$i}%");
    }

    //padding
    .u-pb--#{$i}percent{
      padding-bottom: unquote("#{$i}%");
    }
    .u-pt--#{$i}percent{
      padding-top: unquote("#{$i}%");
    }
    .u-pr--#{$i}percent{
      padding-right: unquote("#{$i}%");
    }
    .u-pl--#{$i}percent{
      padding-left: unquote("#{$i}%");
    }
    .u-ptb--#{$i}percent{
      padding-top: unquote("#{$i}%");
      padding-bottom: unquote("#{$i}%");
    }
    .u-prl--#{$i}percent{
      padding-right: unquote("#{$i}%");
      padding-left: unquote("#{$i}%");
    }
  }
}
